# Dependencies
**/node_modules
**/.pnp
.pnp.js

# Production output
**/dist
**/tmp
**/out-tsc

# Angular / CLI cache
**/.angular

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.pnpm-debug.log*

# Editor directories and files (Visual Studio & VS Code)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.vs/
*.suo
*.user
*.userossc
*.sln.docstates

# System Files
.DS_Store
Thumbs.db