<div class="detail-page-layout">
  <!-- Header de Navegación Limpio (Sin Sidebar) -->
  <header class="detail-topbar">
    <button class="btn-back-home" (click)="goBack()">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
    <div class="topbar-brand">
      <span class="material-symbols-outlined text-signal-red">fitness_center</span>
      <span class="brand-title">GymSync</span>
    </div>
  </header>

  <main class="detail-main-content" *ngIf="machine">
    <!-- Reproductor / Marco de Video -->
    <div class="video-container-card">
      <div class="black-video-screen">
        <span class="material-symbols-outlined play-placeholder-icon">play_circle</span>
        <p class="placeholder-text">Video no disponible temporalmente</p>
      </div>
    </div>

    <!-- Detalles de la máquina -->
    <section class="machine-details-card">
      <div class="details-header-row">
        <h1 class="machine-title">{{ machine.name }}</h1>
        <span class="badge-muscle" *ngIf="machine.muscleGroup">{{ machine.muscleGroup }}</span>
      </div>

      <div class="divider-line"></div>

      <div class="instructions-block">
        <h2>INSTRUCCIONES DE USO</h2>
        <p>{{ machine.description }}</p>
      </div>
    </section>
  </main>
</div>